* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
    width: 100%;
    height: 600px;
}
h4{
    font-size: 25px; 
    font-family: sans-serif;
    font-weight: 100;
    text-align: right;
    text-align: left; /* Garante alinhamento do texto */
    align-self: flex-start; 
    margin-left: 130px; /* Adiciona um espaçamento da borda esquerda */
    margin-bottom: 20px;
    margin-top: 50px;
    color: black;
    
}
#carro, #formulario {
    flex: 1; 
    width: 800px;
    height: 600px;
}

#formulario {
    background: linear-gradient(to bottom, rgba(255, 255, 0, 0.300),rgba(255, 255, 0, 0.300), rgba(255, 255, 255, 0.603) );
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255); 
    flex-direction: column;
    padding-bottom: 60px;
   
}
#email, #senha{
    margin: 20px;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    background-color:  rgba(255, 238, 0, 0.61);
    padding-left: 35px;
    border: none;
    
    

    
    
}
#email::placeholder, #senha::placeholder {
    color: rgba(0, 0, 0, 0.8); /* Branco com transparência para legibilidade */
    font-weight: 300; /* Pode deixar um pouco mais fino se preferir */
    font-size: 14px; 
    font-family: sans-serif;
    
}
#botao{
 
    border-radius: 15px;
    width: 300px;
    height: 50px;
    background-color:  rgba(255, 238, 0, 0.836);
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.212) 5px 5px 5px;
    font-weight: 0;
}


#icones{
    height:30px;
    width:30px;
    margin-top: 400px;
    margin: 10px;


}


#recuperar{
    text-decoration: none;
    margin: -10px 0px 0px ;
    color: gray;
    font-family: sans-serif;
 }
#texto1{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: gray;
}
