* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Evita a barra de rolagem */
}
body{
    font-family: 'Poppins', sans-serif;
   
}

#container {
    display: flex;
    width: 100%;
    height: 100vh; /* Mesma altura do container */
    background-image: url('imagens/carro.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 25px; 
    font-family: sans-serif;
    font-weight: 100;
    text-align: center; /* Garante alinhamento do texto */
    align-self: flex-start; 
    margin-left: 60px; /* Adiciona um espaçamento da borda esquerda */
    margin-bottom: 20px;
    margin-top: 50px;
    color: black;
    
    
}



#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255); 
    flex-direction: column;
    padding: 0px 60px 60px 50px;
    width: 500px;
    height: 590px;
    background-color: rgba(255, 255, 255, 0.952); /* Fundo amarelo pastel */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.767); /* Sombra suave para destacar o formulário */
   
   
}
#email, #senha{
    margin: 20px;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    background-color:  rgba(255, 238, 0, 0.61);
    padding-left: 35px;
    border: none;

    
}
#email::placeholder, #senha::placeholder {
    color: rgba(0, 0, 0, 0.8); /* Branco com transparência para legibilidade */
    font-weight: 300; /* Pode deixar um pouco mais fino se preferir */
    font-size: 14px; 
    font-family: sans-serif;
    
}
#botao{
 
    border-radius: 15px;
    width: 300px;
    height: 50px;
    background-color:  rgba(255, 238, 0, 0.836);
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.212) 5px 5px 5px;
    font-weight: 0;
}


#icones{
    height:30px;
    width:30px;
    margin-top: 400px;
    margin: 10px;


}


#recuperar{
    text-decoration: none;
    margin: -10px 0px 0px ;
    color: gray;
    font-family: sans-serif;
 }
#texto1{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: gray;
}
